@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 172 100% 25.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 172 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 172 100% 25.9%;
  --radius: 0.5rem;
}
.dark {
  --background: 172 50% 5%;
  --foreground: 172 5% 90%;
  --card: 172 50% 0%;
  --card-foreground: 172 5% 90%;
  --popover: 172 50% 5%;
  --popover-foreground: 172 5% 90%;
  --primary: 172 100% 25.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 172 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 134 30% 15%;
  --muted-foreground: 172 5% 60%;
  --accent: 134 30% 15%;
  --accent-foreground: 172 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 172 5% 90%;
  --border: 172 30% 18%;
  --input: 172 30% 18%;
  --ring: 172 100% 25.9%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
